version: '3.9'

services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: planning-system-frontend
    ports:
      - "3005:3000"
    environment:
      NEXT_PUBLIC_API_URL: "http://backend:8080"
    depends_on:
      - backend
    volumes:
      - ./frontend:/app
      - /app/node_modules
    networks:
      - appnet

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend
    ports:
      - "8080:8080"
    env_file:
      - ./backend/.env
    depends_on:
      - db
    networks:
      - appnet

  db:
    image: postgres:alpine
    container_name: planning-system-postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-planning}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-planning123}
      POSTGRES_DB: ${POSTGRES_DB:-planning_system}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - appnet

networks:
  appnet:

volumes:
  postgres_data:
